/* Hide the original "Author" heading */
.quarto-title-meta-heading {
  display: none !important;
}

/* Add "Authors:" before the author names */
.quarto-title-meta-contents p::before {
  content: "Authors: ";
  font-weight: bold;
}
